{%extends 'main.html'%}

{% block content %}
<div class="container" style="margin-bottom: 35px;">
    <h1>{{movie.name}}</h1>
    <h3 style="margin-bottom:35px" class="container">average rating:  {{movie.avg_rating}}</h3>
</div>
<div class="container" style="display:flex; flex-direction: row;"> 
    <img src="{% if movie.image_url %}{{movie.image_url}}{% else %}https://place-hold.it/180x100/{% endif %}" alt="Card image cap" style="margin-right:25px">
    <div>
        <h4><b>popis od pana doktora Filipa Růžičky:</b></h4>
        <p style="font-size: 1.5em;">{{ movie.description|safe }}</p>
    </div>
</div>   

<div class="my-2">
    <p style="display: flex;justify-content:center;">
        <button
            class="btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#addComment"
        >
            Přidat komentář
        </button>
    </p>

    <div class="row collapse" id="addComment">
        <div class="col-12 col-md-6 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control btn btn-primary" type="submit" value="Odeslat" />
            </form>
        </div>
    </div>
</div>

{% for comment in comments %}
    <div class="container">
        <p>
            <strong>{{ comment.author }}</strong>, {{ comment.created_at|date:"j. n. Y H:i" }}<br />
            {% if comment.rating %}{{ comment.rating }}%<br />{% endif %}
            {{ comment.text }}
        </p>
        <hr/>
    </div>
{% endfor %}


{% endblock content %}